<!DOCTYPE html>
<html>
<head>
    <title>LDS CRM</title>

    <link rel="stylesheet" href="/stylesheets/layout/main/body.css">
</head>
<body>
    <div id="header" class="container">
        <div class="form-title text-center">
            <h2 class="text-dark">LDS CRM 메인 페이지</h2>
            <span class="text-light"><%= id %> 님 어서오세요. <a href="/member/logout">로그아웃</a></span>
        </div>
    </div>

    <% include ./layout/main/sidebar.ejs %>

    <main id="site-main">
    </main>
</body>
</html>
