<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LDS CRM</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>


    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/stylesheets/layout/authority_manage/body.css">
</head>
<body>
    
    <div id="header" class="container">
        <div class="form-title text-center">
            <h2 class="text-dark">LDS CRM 그룹 권한 관리</h2>
        </div>
    </div>

    <% include ../../layout/main/sidebar.ejs %>

    <!-- Main -->
        <main id="site-main">
            <div class="container">

                <div>
                    <form action="#">
                        <div class="form-group">
                            <label for="groupName">그룹</label>
                            <select name="groupName" id="groupName">
                                <option value="" selected disabled>선택해주세요</option>
                                <%- include('include/_showGroups') %>
                            </select>
                            <button id="group_create_btn" class="btn">
                                <span class="text-gradient">그룹추가<i class="fa-solid fa-circle-plus"></i></span>
                            </button>
                            <button id="group_remove_btn" class="btn">
                                <span class="text-gradient">그룹삭제<i class="fa-solid fa-circle-minus"></i></span>      
                            </button>
                        </div>
                        <table id="authorities" class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th></th>
                                    <th>CODE</th>
                                    <th>권한명</th>
                                    <th>권한 설명</th>
                                </tr>
                            </thead>
                            <tbody id="my_tbody">
                            </tbody>
                        </table>

                        <div class="box-nav d-flex text-center">
                            <button id="group_authority_apply" class="btn">
                                <span class="text-gradient">적용<i class="fa-solid fa-floppy-disk"></i></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    <!-- /Main -->

</body>
</html>

<script type="text/javascript">
    $(function() {
        $('#groupName').on('change', function() {
            $('#authorities > tbody').empty();

            $.ajax({
                url: '/authorityManage/group',
                type: 'POST',
                data: {
                    id: $(this).val(),
                },
                success: function(result) {
                    for(var i=0; i<result.authority.length; i++) {
                        const table = document.getElementById('my_tbody');

                        const newRow = table.insertRow();

                        const cell1 = newRow.insertCell(0);
                        const cell2 = newRow.insertCell(1);
                        const cell3 = newRow.insertCell(2);
                        const cell4 = newRow.insertCell(3);

                        if(result.authority[i].groupID != null)
                            cell1.innerHTML = '<input type="checkbox" value="' + result.authority[i].authorityID + '" checked>';
                        else
                            cell1.innerHTML = '<input type="checkbox" value="' + result.authority[i].authorityID + '">';
                        cell2.innerText = result.authority[i].authorityID;
                        cell3.innerText = result.authority[i].authorityName;
                        cell4.innerText = result.authority[i].authorityDetail;
                    }
                }
            })
        })

        $('#group_create_btn').on('click', function() {
            window.open('/authorityManage/group/create', '그룹 추가', 'width=200, height=250');
        })

        $('#group_remove_btn').on('click', function() {
            window.open('/authorityManage/group/remove', '그룹 삭제', 'width=200, height=250');
        })

        $('#group_authority_apply').on('click', function() {
            var authorityIDs = [];
            var checkedValues = [];
            var list = $('input[type="checkbox"]');
            
            for(var i=0; i<list.length; i++) {
                authorityIDs.push(list[i].value);
                checkedValues.push(list[i].checked)
            }

            $.ajax({
                url: '/authorityManage/group/update-authority',
                type: 'POST',
                data: {
                    id: $('#groupName').val(),
                    authorityIDs: JSON.stringify(authorityIDs),
                    checkedValues: JSON.stringify(checkedValues)
                },
                success: function(result) {
                    alert('정상적으로 반영되었습니다.')
                }
            })
        })
    })
</script>