<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>유저 권한 변경</title>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        header {
            width: 400px;
            background-color: #2b2d42;
            text-align: center;
            padding: 1em 0;
        }
        div{
            display: block;
        }
        h2{
            color: white;
        }
        .container {
            margin: auto;
        }
    </style>
</head>
<body>
    <header>
        <div class="container">
            <h2>유저 권한 변경</h2>
        </div>
    </header>
</body>
</html>