<% for(var i=0; i<users.length; i++) {%>
    <tr>
        <td><%= users[i].ID %></td>
        <td><%= users[i].name %></td>
        <td><%= users[i].groupName %></td>
        <td>
            <a href="#" class="btn border-shadow update" onclick='showPopup("<%= users[i].ID %>")'>
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
            </a>
        </td>
    </tr>
<% } %>

    <script>
        function showPopup(id) {
            window.open('/authorityManage/user/update/' + id, '권한 수정', 'width=200, height=300');
        }
    </script>