<% for(var i=0; i<dept.length; i++) {%>
    <tr>
        <td><%= dept[i].deptName %></td>
        <td>
            <a href="" class="btn border-shadow update" onclick='updateDept("<%= dept[i].deptID %>")'>
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
            </a>
            <a href="" class="btn border-shadow delete" onclick='deleteDept("<%= dept[i].deptID %>", "<%= dept[i].deptName %>")'>
                <span class="text-gradient"><i class="fas fa-times"></i></span>
            </a>
        </td>
    </tr>
<% } %>

<script>
    function updateDept(id) {
        window.open('/deptManage/dept/update/'+id, '부서 수정', 'width=200, height=250'); 
    }

    function deleteDept(id, name) {
        var input = prompt("정말로 해당 부서를 삭제하시겠습니까?\n부서를 삭제하더라도 해당 부서에 관한 정보는 삭제되지 않습니다.\n\n정말로 삭제를 원하시면 부서명을 입력해주세요.", "");
        if(input == name) {
            $.ajax({
                url: '/deptManage/dept/delete',
                type: 'POST',
                data: {
                    deptID: id
                },
                success: function(result) {
                    if(result == 'positive') {
                        alert("정상적으로 삭제하였습니다.")
                        location.reload();
                    } else {
                        alert("삭제에 실패하였습니다.")
                    }
                }
            })
        }
        else {
            alert("부서명 입력에 실패하였습니다.")
        }
    }
</script>