<!DOCTYPE html>
<htmllang-"en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="id-edge" />
    <title>영업관리 시스템</title>

    <link rel="stylesheet" href="/stylesheets/layout/main/sidebar.css">
</head>
<body>
		<div class="sidebar">
			<a href="#" class="side_link">총괄</a>
			<a href="#" class="side_link">고객관리</a>
			<a href="#" class="side_link">파이프라인관리</a>
			<a href="#" class="side_link">진행상황관리</a>
			<a href="#" class="side_link">견적서관리</a>
			<a href="#" class="side_link">수주관리</a>
			<a href="#" class="side_link">영업담당자관리</a>
			<a href="#" class="side_link">품목관리</a>
			<a href="#" class="side_link">권한관리</a>
		</div>
</body>
</html>
